[submodule "Full_Stack_Development_Course_Assignments"]
	path = Full_Stack_Development_Course_Assignments
	url = https://github.com/kyawswarhein-sec/Full_Stack_Development_Course_Assignments.git
[submodule "UOP_Java_Assignments"]
	path = UOP_Java_Assignments
	url = https://github.com/kyawswarhein-sec/UOP_Java_Assignments.git
